.container {
  display: flex;
  flex-direction: column;
  grid-gap: 0;
  grid-template-rows: 100px 1fr 140px;
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Lesson */

.lessonContainer {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lessonInnerContainer {
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  align-content: center;
  display: grid;
  font-size: 19px;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.lessonItemsContainer {
  min-height: 400px;
  overflow: visible;
  width: 600px;
  grid-template-rows: min-content minmax(0, 1fr);
  grid-gap: 24px;
  display: grid;
}
