.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.homeContainer {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.profileContainer {
  z-index: 0; /* cambiar a 1 */
  flex: 1;
  margin-right: 80px;
}
